body {
    padding-top: 50px;
}
.container {
    background: #f5f5f5;
    border: 1px solid #BFBFBF;
    padding: 15px;
    border-radius: 3px;
}
.c-fetch-git-info {
    width: 100%;
}
td, th {
    text-align: center;
}
table {
    border-radius: 3px;
}